<!DOCTYPE html>
<html>
  <head>
    <title>Virtual</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
        body { background-color: green; }
        p { color: #fff; }
    </style>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <% if logged_in? %>
      <font size="+2"><%= link_to 'Log Out', logout_path, method: :delete %> </font>
      <font size="+2"><%= link_to 'Student Directory', students_path %></font>
      <font size="+2"><%= link_to 'New Student', new_student_path %></font>
      <font size="+2"><%= link_to 'All Teachers', teachers_path %></font>   
  <% end %>

  <div>
      <%= yield %>
    </div>
  </body>
</html>
